{{ 'image-gallery.css' | asset_url | stylesheet_tag }}

{% assign settings = section.settings %}

<h1 class="image-gallery__heading 
  text-{{settings.headingOrientation}} ">
  {{ section.settings.heading }}
</h1>

<span class="image-gallery__pictures-container">

  {% for block in section.blocks %}
    {% assign collection = collections[block.settings.collection] %}
    <a class="collection-url" href={{collection.url}}>
      <div class="image-gallery__image">
        <img
          class="pictures-container__picture"
          src={{collection.image | image_url}}
          loading="{{settings.imageLoad}}"
          width="400px"
          height="auto"
          alt="">
        <h2 class="image-gallery__collection-name">{{ collection.title }}</h2>
      </div>
    </a>

  {% endfor %}
</span>

{% schema %}
  {
    "name": "image gallery",
    "tag": "section",
    "class": "image-gallery",
    "settings": [
      {
        "type": "text",
        "label": "section's heading",
        "id": "heading",
        "default": "heading"
      },
      {
        "type": "select",
        "label": "heading's text orientation",
        "id": "headingOrientation",
        "default": "center",
        "options": [
          {
            "value": "start",
            "label": "Start"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "end",
            "label": "End"
          }
        ]
      }

    ],
    "blocks": [
      {
        "name": "collection-image",
        "type": "image",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "id": "imageLoad",
            "type": "select",
            "label": "Select",
            "options": [
              {
                "value": "lazy",
                "label": "Lazy"
              },
              {
                "value": "eager",
                "label": "Eager"
              }
            ],
            "default": "lazy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "image-gallery"
      }
    ]

  }
{% endschema %}